<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Favicon -->
<link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}" -->

<style>
    hr {
        border: none;        /* Remove default border */
        height: 6px;         /* Set thickness */
        background-color: #4e4ec6;  /* Color of the line */
        margin: 2em 0;       /* Optional spacing */
    } /* Customized style for horizontal rules */

    ul ul, ol ol, ul ol, ol ul { margin: 0 0 0; } /* Remove margins from nested lists */

</style>
<!-- end custom head snippets -->